@{
    ViewData["Title"] = "Home Page";
}



<form>
    <label>Enter your name</label>
    <input id="inp1">
    <label>Enter your age</label>
    <input id="inp2">
    <button class="btn-primary" id="btn">submit</button> 
</form>

<div>
    <a href="https://www.google.no/">google</a>
    <a href="https://github.com/">github</a>
</div>
<h2>Aouss</h2>
<h2>yaser</h2>
<a href="https://www.youtube.no">youtube</a>
<p id="res1"></p>
<p id="res2"></p>

<p id="res1"></p>
<p id="res2"></p>

<p>yaser tamim</p>