@{
    ViewData["Title"] = "Home Page";
}



<form>
    <label>Enter your name</label>
    <input>
    <label>Enter your age</label>
    <input>
    
</form>

<div>
    <a href="https://www.google.no/">go</a>
</div>
<h2>yaser tamim</h2>
<p>data</p>