@{
    ViewData["Title"] = "Home Page";
}



<form>
    <label>Enter your name</label>
    <input id="inp1">
    <label>Enter your age</label>
    <input id="inp2">
    <button class="btn-primary" id="btn">submit</button> 
</form>

<div>
    <a href="https://www.google.no/">google</a>
    <a href="https://github.com/">github</a>
</div>

<h2>yaser tamim</h2>
<p>data</p>
<input>
<button>press me</button>
<input>


<button>press me now</button>


<p id="res1"></p>
<p id="res2"></p>

<p id="res1"></p>
<p id="res2"></p>





<p>what ever</p>
<p>hey there</p>

